:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

input#id_nome{

}html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #dddddd;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

body > .container-fluid {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.list-group{
  padding-top: 5px;
  padding-bottom: 5px;

}

.list-group-item{
  background-color: #D3D3D3;
  color: #000;
  border-color: gray;
}

.dropdown-menu{
  background-color: #343a40;
  color:gray;
  border: 0px;
}

.dropdown-item{
  color: white;}

ul.errorlist {
    color: red;
}

#rf{
  margin: 0px;
  cursor: pointer; 
  color: blueviolet;
}

#rf:hover {
    color: blue;
}

p#rf:hover {
    color: blue;
}
