:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}
html,
body {
  height: 100%;
  vertical-align: middle;
  width: 100%
}


body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f5f5;
}


img {
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}
.form {
  align-items: center;
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

input{
  width: 100%;
}

label {
    color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

img {
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}
.form {
  align-items: center;
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

input{
  width: 100%;
}

label {
    color: white;
}




