<!doctype html>
{%load static%}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{%static 'img/ICOLEADS.png'%}">
    <title>PROJETO LEDS</title>
    <link href="{% static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="{%static 'css/jquery.toastmessage.css'%}">
  </head>
  <body id="body">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{%url 'app:home'%}">LEDS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
          </ul>
          <form class="mt-2 mt-md-0">
            {% if user.is_authenticated %}

           <ul class="navbar-nav">
<li style="padding-right:10px; "class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{%static 'img/user2.png'%}" height="100%" width="auto">
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
<a class="dropdown-item" href="{%url 'app:edit_user'%}">Editar Conta</a>
    <a class="dropdown-item" href="{% url 'app:sair' %}">Sair</a>


  </div>
            </li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="#"></a></li>
            {% endif %}
          </form>
        </div>
      </nav>
    <div class="container-fluid">
      <h2 id="id">Apresente o cartão para registrar o acesso</h2>
    </div>
<footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvolvido por 2MAS.</span>
      </div>
    </footer>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{%static '/js/jquery.toastmessage.js'%}"></script>
    {%block javascript%}
    <script>
    $(window).on('load',function(){
    $(window).ajaxStart(function(){
        $("#id").css("display", "block");
    });
    $(window).ajaxComplete(function(){
        $("#id").css("display", "none");
    });
    $.ajax({
      url: '/teste_aja2/',
      dataType: 'json',
      success: function (data) {

        if(data.key_value == 'undefined' || data.key_value == 'UNDEFINED'|| data.key_value == ''){
          alert('Erro ao ler cartão, tente novamente.');
          location.reload();
        }else{
		$().toastmessage('showToast', {text : data.message, type : data.tag, position: 'middle-center'});
		setTimeout(location.reload.bind(location), 3000);
   
       }
      },
      error: function(data) {
        $().toastmessage('showErrorToast', "Erro na leitura, verifique se o arduino está conectado corretamente e tente novamente!");

setTimeout(location.reload.bind(location), 4000);
	
        
      }
      });
    });

    </script>
    {%endblock%}
  </body>
</html>
